/*Don't show leaflet control layers*/

.leaflet-control-layers.leaflet-control {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.row.row-data-info {
  margin: -15px -5px 5px !important;
}

.unable-draw-chart-info-div {
  height: 300px !important;
  width: 300px;
  text-align: center;
}

.unable-draw-chart-info-h3 {
  position: absolute;
  margin: 115px 40px 0px 10px;
}

.clear-input {
  cursor: pointer;
}

.timeline-slider {
  position: absolute;
  top: 260px;
  left: 10px;
  height: 100px;
}

.ngrs-value {
  color: #000 !important;
  background: #B3D1FF;
  font-size: 14px !important;
}

.ui-pnotify {
  top: auto !important;
}

.data-type-button-section {
  position: absolute;
  top: 172px;
  left: 10px;
}

.tour-button-section {
  position: absolute;
  top: 234px;
  left: 10px;
}

.tour-button-div {
  background-position: -62px -2px;
}

.ui-pnotify.custom .ui-pnotify-container {
  background-color: #404040 !important;
  background-image: none !important;
  border: none !important;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 310px;
  opacity: .8;
}
.ui-pnotify.custom .ui-pnotify-title, .ui-pnotify.custom .ui-pnotify-text {
  font-family: Arial, Helvetica, sans-serif !important;
  text-shadow: 2px 2px 3px black !important;
  font-size: 10pt !important;
  color: #FFF !important;
  padding-left: 10px !important;
  line-height: 1.5 !important;
  text-rendering: geometricPrecision !important;
}
.ui-pnotify.custom .ui-pnotify-title {
  font-weight: bold;
}
.ui-pnotify.custom .ui-pnotify-icon {
  float: left;
}
.ui-pnotify.custom .picon {
  margin: 3px;
  width: 33px;
  height: 33px;
}

/* ---------------------------------------------------- */
/*                                                      */
/*                      Typeahead                       */
/*                                                      */
/* ---------------------------------------------------- */


.custom-popup .leaflet-popup-content-wrapper {
  background: white;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  z-index: 0;
}

.custom-popup .leaflet-popup-content {
  height: 320px;
  width: 350px !important;
}

.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
}

.custom-popup .leaflet-popup-tip-container {
  width: 40px !important;
  height: 40px !important;
}

.graph-div {
  color: black;
  font-size: 12px;
}

.custom-popup .leaflet-popup-tip {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid white;
  margin: -14px auto 0px;
  height: 22px;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;

  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

/* ---------------------------------------------------- */
/*                                                      */
/*                    GeoAggregation                    */
/*                                                      */
/* ---------------------------------------------------- */

#geoagg-result-div {
  width: 335px;
  height: 650px;
  position: absolute;
  z-index: 1001;
  right: 10px;
  top: 3px;
  background: white;
  border-radius: 10px;
  opacity: 0.8;
}

#geoagg-result-div #geoagg-result .geoagg-result-title {
  margin: -5px 0px 5px 20px;
}

#geoagg-result-div #geoagg-result .geoagg-result-subtitle {
  margin: -15px 0px 0px 0px;
  text-align: center;
}

#geoagg-result-div #geoagg-result .geoagg-result-by {
  margin: -10px 0px 0px 80px;
}

#geoagg-result-div tr {
  border: solid;
  border-width: 1px 0;
  border-style: dashed;
  border-color: #b6b5b5;
}

#geoagg-result-div td {
  padding: 8px;
}

#geoagg-result-div tr {
  border: none;
}

#close-geoagg-result {
  margin-top: -31px;
  margin-right: 51px;
}

#geoagg-result-list {
  width: 300px;
}

#geoagg-result-list tr td .result {
  width: 105%;
  height: 22px;
}

#geoagg-result-qtd {
  margin-top: 5px;
  margin-right: -20px;
}

.progress {
  position: relative;
}

.progress .label-name {
  position: absolute;
  display: block;
  color: black;
}

.progress .label-value {
  position: absolute;
  display: block;
  left: 160px;
  color: black;
}